<%= render "public/shared/header" %>
<h1 class="fw-bold">かく🌵らゔ</h1>
<p>サボテン・多肉植物loveなみんなの投稿</p>

<div class="container">
    <div class="row">
     
        <div class="d-flex justify-content-sm-center">
         
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <%= image_tag 'm_e_others_471.jpg', width: 300, height: 300 %>
                </div>
                <div class="carousel-item">
                  <%= image_tag 'm_e_others_471.jpg', width: 300, height: 300 %>
                </div>
                <div class="carousel-item">
                  <%= image_tag 'm_e_others_471.jpg', width: 300, height: 300 %>
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
        </div>
    </div>
</div>